<div class="contenedor">
  <img src="https://los40.com/los40/imagenes/2021/07/30/musica/1627646550_913079_1627647005_gigante_normal.jpg" class="img-fluid" alt="Responsive image">
  <h1 class="texto-encima"> New Music </h1>
  <h1 class="txt"> Billie Eilish </h1>
  <button  class="bottonn" type="button" >Play</button>
  <div class="centrado"></div>
</div>












  
<div class="genero">
  <h3>Generos</h3>
  <app-genero-list></app-genero-list>
</div>

<div>
  <h3>Temas</h3>
  <app-tema-list> </app-tema-list>
</div>
<div>
  <h3>Creadores</h3>
  <app-creador-list></app-creador-list>
</div>

<div>
  <h3>Albumes</h3>
  <app-album-list></app-album-list>
</div>


<h3>  Trending</h3>
  

  <div class="wrapper">
    <div class="box">
      <h3 class="testo">  Harry Styles</h3>

      <img src="https://media.revistavanityfair.es/photos/627b753d7c42cdee6d351092/2:3/w_2000,h_3000,c_limit/Harry%20Styles.jpg" alt="" class="img1">
      <img src="https://pbs.twimg.com/media/FPcLqegXIAIVxsr.jpg:large" alt="" class="img2">  
    </div>

    <div class="box">
      <h3 class="testo">  Rosalia</h3>
      <img src="  https://img.redbull.com/images/c_crop,x_1247,y_0,h_3104,w_2483/c_fill,w_400,h_540/q_auto:low,f_auto/redbullcom/2019/04/23/3e62f939-779b-4372-8037-27639c6e8283/rosalia-directo-madrid
      " alt="" class="img1">
      <img src="https://media.vogue.mx/photos/5d3c5b7d8b125d00080f9e59/master/w_1600%2Cc_limit/Rosalia%2520Vogue%2520Mexico%25205.jpg" alt="" class="img2">  
    </div>

    <div class="box">
      <h3 class="testo">  Dua Lipa</h3>

      <img src="https://media.vogue.es/photos/624a76be8d061e46a75928ee/2:3/w_2560%2Cc_limit/GettyImages-1389377878.jpg" alt="" class="img1">
      <img src="https://pbs.twimg.com/media/FOt67SzXMAY6SGK?format=jpg&name=large" alt="" class="img2">  
    </div>
  </div>



<hr>









<div>
  <h3>Podcasts</h3>
  <app-listaPodcast></app-listaPodcast>
</div>



<div>
  <h3>Capitulos</h3>
  <app-listaCapitulo></app-listaCapitulo>
</div>


<div>
  <h3>Canciones</h3>
  <app-cacion-list></app-cacion-list>
</div>







