
body{
    height: 200vh;
    font-size: 13.5px;
  }


  .app-sidebar{
    position:absolute;
     background: #3d1a1a;
     width: 11rem ;
     z-index: 300;

     margin-top: 50px;
     margin-bottom:50px ;
  }


  




  